.Snapshot {
  border: thin solid;
}

.Snapshot button {
  font-size: 1.4em;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.Snapshot .VideoStream {
  width: 100%;
}

.Snapshot img {
  width: 100%;
}
