.App > h1 {
  text-align: center;
}

.App > .container {
  display: flex;
}

.App > .container > .column {
  flex: 1 100%;
  width: 50%;
}

.App > .links {
  font-size: 1.2em;
  margin-bottom: 20px;
  text-align: center;
}

.App .Snapshot {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 500px) {
  .App > .container {
    display: block;
  }

  .App > .container > .column {
    width: 100%;
  }
}
